# dependencies
/node_modules
/.pnp
.pnp.js

# built files
/dist/

# misc
.DS_Store
/.vscode/

# log files
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# antlr grammar
/src/grammar/*
!/src/grammar/*.g4
